@charset "utf-8";
$rem:75;
/*初始化代码*/
body,div,ul,li,a,span,p,b,i,s,img,input{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
	display:inline-block;
}
a{
	text-decoration:none;
	display:inline-block;
	cursor:pointer;
}
img{
	display:block;
	max-width:100%;
	max-height:100%;
}
/*外盒*/
.box{
	width:750/$rem*1rem;
	height:1334/$rem*1rem;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
}
/*内盒*/
.welcome{
	width:3000/$rem*1rem;
	height:1334/$rem*1rem;
	display:flex;
	position:absolute;
	top:0;
	left:0;
	transition:left 0.5s;
	#page1,#page2,#page3,#page4{
		width:750/$rem*1rem;
		height:1334/$rem*1rem;
		position:relative;
		overflow:hidden;
		.background{
			width:750/$rem*1rem;
			height:1334/$rem*1rem;
			position:absolute;
			left:0;
			top:0;
			z-index:-1;
		}
		.last,.next,.into{
			width:120/$rem*1rem;
			height:40/$rem*1rem;
			line-height:40/$rem*1rem;
			box-sizing:border-box;
			border:2/$rem*1rem solid #ffffff;
			border-radius:25% 25% 25% 25%;
			color:#ffffff;
			font-size:22/$rem*1rem;
			text-align:center;
			position:absolute;
		}
		.last{
			left:30/$rem*1rem;
			top:30/$rem*1rem;
		}
		.next,.into{
			right:30/$rem*1rem;
			top:30/$rem*1rem;
		}
	}
	#page1{
		.circle0{
			width:480/$rem*1rem;
			height:480/$rem*1rem;
			border-radius:50% 50%;
			background:rgba(255,255,255,0.25);
			position:absolute;
			top:255/$rem*1rem;
			left:135/$rem*1rem;
			display:none;
		}
		.circle1{
			width:450/$rem*1rem;
			height:450/$rem*1rem;
			border-radius:50% 50%;
			background:rgba(255,255,255,1);
			position:absolute;
			top:270/$rem*1rem;
			left:150/$rem*1rem;
			display:none;
		}
		.vegetable{
			width:122/$rem*1rem;
			height:205/$rem*1rem;
			position:absolute;
			top:387/$rem*1rem;
			left:355/$rem*1rem;
			display:none;
		}
		.solanum{
			width:103/$rem*1rem;
			height:183/$rem*1rem;
			position:absolute;
			top:390/$rem*1rem;
			left:167/$rem*1rem;
			display:none;
		}
		.carrot{
			width:126/$rem*1rem;
			height:243/$rem*1rem;
			position:absolute;
			top:366/$rem*1rem;
			left:489/$rem*1rem;
			display:none;
		}
		.apple{
			width:117/$rem*1rem;
			height:138/$rem*1rem;
			position:absolute;
			top:486/$rem*1rem;
			left:518/$rem*1rem;
			display:none;
		}
		.orange{
			width:117/$rem*1rem;
			height:114/$rem*1rem;
			position:absolute;
			top:529/$rem*1rem;
			left:438/$rem*1rem;
			display:none;
		}
		.pear{
			width:119/$rem*1rem;
			height:172/$rem*1rem;
			position:absolute;
			top:466/$rem*1rem;
			left:250/$rem*1rem;
			display:none;
		}
		.tomato{
			width:115/$rem*1rem;
			height:124/$rem*1rem;
			position:absolute;
			top:526/$rem*1rem;
			left:151/$rem*1rem;
			display:none;
		}
		.peach{
			width:125/$rem*1rem;
			height:117/$rem*1rem;
			position:absolute;
			top:532/$rem*1rem;
			left:340/$rem*1rem;
			display:none;
		}
	}
	#page2{
		.layer{
			width:583/$rem*1rem;
			height:577/$rem*1rem;
			position:absolute;
			top:-583/$rem*1rem;
			left:84/$rem*1rem;
		}
		.earth{
			width:536/$rem*1rem;
			height:370/$rem*1rem;
			position:absolute;
			top:398/$rem*1rem;
			left:101/$rem*1rem;
			display:none;
		}
		.vegetable{
			width:122/$rem*1rem;
			height:205/$rem*1rem;
			position:absolute;
			top:-205/$rem*1rem;
			left:348/$rem*1rem;
		}
		.solanum{
			width:103/$rem*1rem;
			height:183/$rem*1rem;
			position:absolute;
			top:-183/$rem*1rem;
			left:160/$rem*1rem;
		}
		.carrot{
			width:126/$rem*1rem;
			height:243/$rem*1rem;
			position:absolute;
			top:-243/$rem*1rem;
			left:482/$rem*1rem;
		}
		.apple{
			width:117/$rem*1rem;
			height:138/$rem*1rem;
			position:absolute;
			top:-138/$rem*1rem;
			left:511/$rem*1rem;
		}
		.orange{
			width:117/$rem*1rem;
			height:114/$rem*1rem;
			position:absolute;
			top:-114/$rem*1rem;
			left:431/$rem*1rem;
		}
		.pear{
			width:119/$rem*1rem;
			height:172/$rem*1rem;
			position:absolute;
			top:-172/$rem*1rem;
			left:243/$rem*1rem;
		}
		.tomato{
			width:115/$rem*1rem;
			height:124/$rem*1rem;
			position:absolute;
			top:-124/$rem*1rem;
			left:144/$rem*1rem;
		}
		.peach{
			width:125/$rem*1rem;
			height:117/$rem*1rem;
			position:absolute;
			top:-117/$rem*1rem;
			left:333/$rem*1rem;
		}
		.lock{
			width:129/$rem*1rem;
			height:135/$rem*1rem;
			position:absolute;
			top:624/$rem*1rem;
			left:497/$rem*1rem;
			display:none;
		}
	}
	#page3{
		.plane{
			width:721/$rem*1rem;
			height:454/$rem*1rem;
			position:absolute;
			top:-454/$rem*1rem;
			left:750/$rem*1rem;
		}
		.vegetable{
			width:93/$rem*1rem;
			height:157/$rem*1rem;
			position:absolute;
			top:-465/$rem*1rem;
			left:1091/$rem*1rem;
		}
		.solanum{
			width:68/$rem*1rem;
			height:122/$rem*1rem;
			position:absolute;
			top:-285/$rem*1rem;
			left:1235/$rem*1rem;
		}
		.carrot{
			width:92/$rem*1rem;
			height:178/$rem*1rem;
			position:absolute;
			top:-495/$rem*1rem;
			left:1205/$rem*1rem;
		}
		.apple{
			width:77/$rem*1rem;
			height:95/$rem*1rem;
			position:absolute;
			top:-204/$rem*1rem;
			left:1327/$rem*1rem;
		}
		.orange{
			width:117/$rem*1rem;
			height:114/$rem*1rem;
			position:absolute;
			top:-362/$rem*1rem;
			left:1134/$rem*1rem;
		}
		.pear{
			width:106/$rem*1rem;
			height:152/$rem*1rem;
			position:absolute;
			top:-387/$rem*1rem;
			left:909/$rem*1rem;
		}
		.tomato{
			width:86/$rem*1rem;
			height:93/$rem*1rem;
			position:absolute;
			top:-330/$rem*1rem;
			left:788/$rem*1rem;
		}
		.peach{
			width:125/$rem*1rem;
			height:117/$rem*1rem;
			position:absolute;
			top:-363/$rem*1rem;
			left:1010/$rem*1rem;
		}
	}
	#page4{
		.house{
			width:271/$rem*1rem;
			height:282/$rem*1rem;
			position:absolute;
			top:435/$rem*1rem;
			left:240/$rem*1rem;
			display:none;
		}
		.vegetable{
			width:93/$rem*1rem;
			height:157/$rem*1rem;
			position:absolute;
			top:578/$rem*1rem;
			left:-157/$rem*1rem;
		}
		.solanum{
			width:74/$rem*1rem;
			height:133/$rem*1rem;
			position:absolute;
			top:410/$rem*1rem;
			left:-74/$rem*1rem;
		}
		.carrot{
			width:100/$rem*1rem;
			height:193/$rem*1rem;
			position:absolute;
			top:355/$rem*1rem;
			left:750/$rem*1rem;
		}
		.apple{
			width:77/$rem*1rem;
			height:95/$rem*1rem;
			position:absolute;
			top:673/$rem*1rem;
			left:750/$rem*1rem;
		}
		.orange{
			width:117/$rem*1rem;
			height:114/$rem*1rem;
			position:absolute;
			top:-114/$rem*1rem;
			left:536/$rem*1rem;
		}
		.pear{
			width:106/$rem*1rem;
			height:152/$rem*1rem;
			position:absolute;
			top:-152/$rem*1rem;
			left:256/$rem*1rem;
		}
		.tomato{
			width:123/$rem*1rem;
			height:132/$rem*1rem;
			position:absolute;
			top:-132/$rem*1rem;
			left:96/$rem*1rem;
		}
		.peach{
			width:125/$rem*1rem;
			height:117/$rem*1rem;
			position:absolute;
			top:-117/$rem*1rem;
			left:387/$rem*1rem;
		}
	}
}
/*按钮，始终跟随外盒*/
.buttons{
	width:128/$rem*1rem;
	height:14/$rem*1rem;
	position:absolute;
	top:1291/$rem*1rem;
	left:309/$rem*1rem;
	z-index:2;
	display:flex;
	justify-content:space-between;
	a{
		width:14/$rem*1rem;
		height:14/$rem*1rem;
		border-radius:7/$rem*1rem 7/$rem*1rem 7/$rem*1rem 7/$rem*1rem;
		background:#a7c35f;
	}
	.selected{
		width:34/$rem*1rem;
	}
}